/.notes
/copyfile
/database/seeders/AdminsSeeder.php
/node_modules
/public/hot
/public/logs
/public/storage
/public/uploads
/storage/*.key
#/vendor
vendor/*
!vendor/laravel
vendor/laravel/*
!vendor/laravel/ui
vendor/laravel/ui/*
!vendor/laravel/ui/auth-backend
vendor/laravel/ui/auth-backend/*
!vendor/laravel/ui/auth-backend/AuthenticatesUsers.php
!vendor/laravel/ui/auth-backend/ConfirmsPasswords.php
!vendor/laravel/ui/auth-backend/RegistersUsers.php
!vendor/laravel/ui/auth-backend/ResetsPasswords.php
!vendor/laravel/ui/auth-backend/SendsPasswordResetEmails.php
google_credentials.json
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
.env
.htaccess
*.private
*.backup
