/.notes
/copyfile
/database/seeders/AdminsSeeder.php
/database/seeders/AdminRoleModulesSeeder.php
/database/seeders/UsersSeeder.php
/node_modules
/public/hot
/public/logs
/public/storage
/public/uploads
/storage/*.key
/vendor
# vendor/*
# !vendor/laravel
# vendor/laravel/*
# !vendor/laravel/ui
# vendor/laravel/ui/*
# !vendor/laravel/ui/auth-backend
# vendor/laravel/ui/auth-backend/*
# !vendor/laravel/ui/auth-backend/AuthenticatesUsers.php
# !vendor/laravel/ui/auth-backend/ConfirmsPasswords.php
# !vendor/laravel/ui/auth-backend/RegistersUsers.php
# !vendor/laravel/ui/auth-backend/ResetsPasswords.php
# !vendor/laravel/ui/auth-backend/SendsPasswordResetEmails.php
client_secret_*.apps.googleusercontent.com.json
google_credentials.json
google*.html
# docker-compose.override.yml
# Homestead.json
# Homestead.yaml
# npm-debug.log
# yarn-error.log
.phpunit.result.cache
.env
.htaccess
*.private
*.backup
